<h4>Messages</h4>

<ul>
  <li *ngFor="let message of messages;">{{message}}</li>
</ul>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="message">Leave a message</label>
    <textarea class="form-control" id="message" rows="3" formControlName="message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
